target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Arquivos compilados do Java
*.class
*.jar

# Arquivos de build do Maven
/target/

# Arquivos de Log
*.log

# Arquivos de IDEs
.idea/
*.iml
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# ARQUIVO DE CONFIGURAÇÃO SENSÍVEL
# Nunca envie sua senha do banco para um repositório público!
application.properties